:host{
    background: #081033;
    display: block;
    color: #fff;
    padding: 16px;
    border-radius: 12px;
}
.banner-background{
    background-image: url('/resource/IPL_Images_and_logos/IPL_Images_and_logos/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}